doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href=`${pathToAssets}/docs/favicon.ico`)
    title Task Factory
    // Bootstrap core CSS
    link(href=`${pathToAssets}/dist/css/bootstrap.min.css`, rel='stylesheet')
    link(href=`${pathToAssets}/dist/css/banner-transition.css`, rel='stylesheet')
    // Just for debugging purposes. Don't actually copy these 2 lines!
    //if lt IE 9
      script(src=`${pathToAssets}/docs/assets/js/ie8-responsive-file-warning.js`)
    script(src=`${pathToAssets}/docs/assets/js/ie-emulation-modes-warning.js`)
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src=`${pathToAssets}/docs/assets/js/ie10-viewport-bug-workaround.js`)
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    // Custom styles for this template
    link(href=`${pathToSelectedTemplateWithinBootstrap}/carousel.css`, rel='stylesheet')
  // NAVBAR
  // ==================================================
  body
    .navbar-wrapper
      .container
        img(src='/images/logo_splash.png', alt='Task Factory')
    
    // Carousel
    // ==================================================
    #myCarousel.carousel.slide(data-ride='carousel')      
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      .carousel-inner
        .item.active
          video(style='background-image: url(/images/banner.jpg); background-position: center; background-size: cover; background-repeat: no-repeat; position: absolute; width: auto; height: auto; min-width: 100%; min-height: 100%;', loop=true, autoplay='')
              source(src='/images/banner.mp4', type='video/mp4')
              source(src='/images/banner.ogv', type='video/ogv')
              source(src='/images/banner.webm', type='video/webm')
          .container            
            .carousel-caption
              h1 O Mundo não para. Conecte-se.
              p
                | Encontre profissionais e clientes que cruzaram seu caminho pela cidade com apenas &quot;1 clique&quot;.
                | Deixe que o Task Factory capture facilmente as pessoas certas para prestação de serviços
                | de manutenção e reformas residenciais.
        .item
          //img(src='data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Second slide')
          img(style='background-image: url(/images/orange_pixel.png);')
          .container
            .carousel-caption
              h1 Timeline em Tempo Real. Aproxime-se.
              p
                | Sempre que houver uma combinação de interesses em serviços, entre cliente e profissional, 
                | para as pessoas que cruzam o seu caminho, sua Timeline será automaticamente preenchida com este Match.
        .item
          img(src='data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Third slide')
          .container
            .carousel-caption
              h1 Parcele seu Pagamento. Sem Esforço.
              p
                | Após o serviço realizado pelo profissional, o cliente poderá parcelar o valor do pagamento direto no Aplicativo. 
                | O profissional receberá o valor a vista e o cliente avaliará a qualidade do serviço prestado.
      a.left.carousel-control(style='background-image: none;', href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(style='background-image: none;', href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
    // /.carousel
    
    // Marketing messaging and featurettes
    // ==================================================
    // Wrap the rest of the page in another container to center all the content.
    .container.marketing
      // Three columns of text below the carousel
      .row
        .col-lg-4
          img.img-circle(src='/images/easy_home.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 Fácil
          p
            | Instale os aplicativos no Google Play Store.
          p
            a.btn.btn-default(href='https://play.google.com/store/apps/details?id=com.factory.taskfactorypro', target=' ', role='button') Task Factory Pro &raquo;
          p
            a.btn.btn-default(href='https://play.google.com/store/apps/details?id=com.factory.taskfactory', target=' ', role='button') Task Factory &raquo;
        // /.col-lg-4
        .col-lg-4
          img.img-circle(src='/images/fast_home.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 Rápido
          p
            | Cruze com profissionais e clientes no mundo real.
          //p
          //  a.btn.btn-default(href='#', role='button') View details &raquo;
        // /.col-lg-4
        .col-lg-4
          img.img-circle(src='/images/eficient_home.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 Eficiente
          p
            | Feche negócio e parcele o pagamento no aplicativo.
          //p
          //  a.btn.btn-default(href='#', role='button') View details &raquo;
        // /.col-lg-4
      // /.row
      // START THE FEATURETTES
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | Aplicativo. 
            span.text-muted Instale em seu Android.
          p.lead
            | Conecte-se através do Facebook. Informe os serviços de seu interesse. 
            | Pronto! Deixe que o Task Factory encontre as pessoas certas para você. 
            | Lembre-se: É possível alterar seus interesses de busca 
            | por serviços a qualquer momento no aplicativo.
        .col-md-5
          img.featurette-image.img-responsive(src='/images/banner_home_1.png', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
        .col-md-5
          img.featurette-image.img-responsive(src='/images/banner_home_2.png', alt='Generic placeholder image')
        .col-md-7
          h2.featurette-heading
            | Oh sim, isto é muito legal. 
            span.text-muted Veja você mesmo.
          p.lead
            | Capture profissionais por onde passa. Capture clientes por onde passa. O Task Factory se encarrega de preencher 
            | sua Timeline de maneira transparente e dinâmica. Converse com quem cruzou seu caminho, negocie. Realize pagamentos 
            | sem burocracia com possibilidade de parcelamento do valor.
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | Vantagem, todos ganham. 
            span.text-muted Beneficie-se.
          p.lead
            | Cliente: Elimine a tarefa de pesquisar por profissionais, ganhando tempo para concentrar-se em outras atividades.
            | Profissional: Monte sua próxima lista de potenciais clientes para atendimento no dia seguinte enquanto atende os atuais.
            | O Task Factory se encarrega de realizar todo o trabalho.
        .col-md-5
          img.featurette-image.img-responsive(src='/images/banner_home_3.png', alt='Generic placeholder image')
      hr.featurette-divider
      // /END THE FEATURETTES
      // FOOTER
      footer
        p.pull-right
          a(href='#') Voltar ao topo
        p
          | &copy; 2018 Task Factory. &middot; 
          a(href='privacypolicy.html', target=' ') Privacidade
          |  &middot; 
          a(href='termsofservice.html', target=' ') Termos
    // /.container
    
    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src=`${pathToAssets}/dist/js/bootstrap.min.js`)
    script(src=`${pathToAssets}/docs/assets/js/vendor/holder.js`)
