doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href=`${pathToAssets}/docs/favicon.ico`)
    title Carousel Template for Bootstrap
    // Bootstrap core CSS
    link(href=`${pathToAssets}/dist/css/bootstrap.min.css`, rel='stylesheet')
    link(href=`${pathToAssets}/dist/css/banner-transition.css`, rel='stylesheet')
    // Just for debugging purposes. Don't actually copy these 2 lines!
    //if lt IE 9
      script(src=`${pathToAssets}/docs/assets/js/ie8-responsive-file-warning.js`)
    script(src=`${pathToAssets}/docs/assets/js/ie-emulation-modes-warning.js`)
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src=`${pathToAssets}/docs/assets/js/ie10-viewport-bug-workaround.js`)
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    // Custom styles for this template
    link(href=`${pathToSelectedTemplateWithinBootstrap}/carousel.css`, rel='stylesheet')
  // NAVBAR
  // ==================================================
  body
    .navbar-wrapper
      .container
        img(src='/images/logo_splash.png', alt='Task Hunter')
    
    // Carousel
    // ==================================================
    #myCarousel.carousel.slide(data-ride='carousel')      
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      .carousel-inner
        .item.active
          video(style='background-image: url(/images/banner.jpg); background-position: center; background-size: cover; background-repeat: no-repeat; position: absolute; width: auto; height: auto; min-width: 100%; min-height: 100%;', loop=true, autoplay='')
              source(src='/images/banner.mp4', type='video/mp4')
              source(src='/images/banner.ogv', type='video/ogv')
              source(src='/images/banner.webm', type='video/webm')
          .container            
            .carousel-caption
              h1 O Mundo não pára. Conecte-se.
              p
                | Encontre pessoas que cruzaram seu caminho.
                | Na correria do dia a dia, o Task Hunter pode fazer isso para você,
                | encontrando profissionais para prestação de serviços de manutenção e reformas residenciais.
        .item
          img(src='data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Second slide')
          .container
            .carousel-caption
              h1 Another example headline.
              p
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
        .item
          img(src='data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Third slide')
          .container
            .carousel-caption
              h1 One more for good measure.
              p
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
    // /.carousel
    
    // Marketing messaging and featurettes
    // ==================================================
    // Wrap the rest of the page in another container to center all the content.
    .container.marketing
      // Three columns of text below the carousel
      .row
        .col-lg-4
          img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 Heading
          p
            | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
          p
            a.btn.btn-default(href='#', role='button') View details &raquo;
        // /.col-lg-4
        .col-lg-4
          img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 Heading
          p
            | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
          p
            a.btn.btn-default(href='#', role='button') View details &raquo;
        // /.col-lg-4
        .col-lg-4
          img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 Heading
          p
            | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          p
            a.btn.btn-default(href='#', role='button') View details &raquo;
        // /.col-lg-4
      // /.row
      // START THE FEATURETTES
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | First featurette heading. 
            span.text-muted It&apos;ll blow your mind.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5
          img.featurette-image.img-responsive(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
        .col-md-5
          img.featurette-image.img-responsive(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
        .col-md-7
          h2.featurette-heading
            | Oh yeah, it&apos;s that good. 
            span.text-muted See for yourself.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | And lastly, this one. 
            span.text-muted Checkmate.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5
          img.featurette-image.img-responsive(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
      hr.featurette-divider
      // /END THE FEATURETTES
      // FOOTER
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | &copy; 2014 Company, Inc. &middot; 
          a(href='#') Privacy
          |  &middot; 
          a(href='#') Terms
    // /.container
    
    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src=`${pathToAssets}/dist/js/bootstrap.min.js`)
    script(src=`${pathToAssets}/docs/assets/js/vendor/holder.js`)
