doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')    
    title Task Factory
    // Bootstrap core CSS
    link(href=`${pathToAssets}/dist/css/bootstrap.min.css`, rel='stylesheet')
    // Custom styles for this template
    link(href=`${pathToSelectedTemplateWithinBootstrap}/theme.css`, rel='stylesheet')
    // Just for debugging purposes. Don't actually copy these 2 lines!
    //if lt IE 9
    script(src=`${pathToAssets}/docs/assets/js/ie8-responsive-file-warning.js`)
    script(src=`${pathToAssets}/docs/assets/js/ie-emulation-modes-warning.js`)
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src=`${pathToAssets}/docs/assets/js/ie10-viewport-bug-workaround.js`)
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') TASK hunter - Pagamentos
        
    .container
      #paymentInfo
        .row
           .col-sm-12
              .list-group
                a.list-group-item.active(href='http://nodejs-mongo-persistent-marcelomg21.1d35.starter-us-east-1.openshiftapps.com/not-transfered-payments')
                  h4.list-group-item-heading Pagamentos Não Transferidos (Pendentes)
                  p.list-group-item-text
                    | Esta opção lista todos os pagamentos que ainda não foram transferidos para a conta do profissional.
                a.list-group-item(href='http://nodejs-mongo-persistent-marcelomg21.1d35.starter-us-east-1.openshiftapps.com/transfered-payments')
                  h4.list-group-item-heading Pagamentos Já Transferidos (Processados com Sucesso)
                  p.list-group-item-text
                    | Esta opção lista todos os pagamentos que já foram transferidos para a conta do profissional, encontram-se processados com sucesso.
                a.list-group-item(href='http://nodejs-mongo-persistent-marcelomg21.1d35.starter-us-east-1.openshiftapps.com/paid-payments')
                  h4.list-group-item-heading Pagamentos Já Pagos no Aplicativo
                  p.list-group-item-text
                    | Esta opção lista todos os pagamentos que já foram pagos pelo cliente no aplicativo.
                a.list-group-item(href='http://nodejs-mongo-persistent-marcelomg21.1d35.starter-us-east-1.openshiftapps.com/not-paid-payments')
                  h4.list-group-item-heading Pagamentos Não Pagos no Aplicativo
                  p.list-group-item-text
                    | Esta opção lista todos os pagamentos que existem mas ainda não foram pagos pelo cliente no aplicativo.
                a.list-group-item(href='http://nodejs-mongo-persistent-marcelomg21.1d35.starter-us-east-1.openshiftapps.com/all-payments')
                  h4.list-group-item-heading Todos os Pagamentos
                  p.list-group-item-text
                    | Esta opção lista todos os pagamentos existentes, independente do seu status, no sistema. Pagos, Não Pagos, Transferidos e Não Transferidos.
      
    // /.container
    
    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src=`${pathToAssets}/dist/js/bootstrap.min.js`)
    //script(src=`${pathToOwnAssets}/payment.js`)
